# Konfiguracja bazy danych
DB_USER=
DB_PASSWORD=
DB_NAME=flashcards
# nazwa serwisu w docker-compose
DB_HOST=db

# Konfiguracja backendu
BACKEND_PORT=8080
SPRING_PROFILES_ACTIVE=prod

# Konfiguracja Spring Security (tylko dla produkcji - zmień w środowisku produkcyjnym!)
JWT_SECRET=zmien_to_na_silny_klucz_w_produkcji
JWT_EXPIRATION_MS=86400000

# Konfiguracja widocznosci portu na zewnątrz kontenerów,
# nie używać w środowisku produkcyjnym
EXPOSE_DB_PORT=5432:5432

